/* global styles */
:root {
    --heading-color: rgb(245, 178, 71);
    --title-color: rgb(96, 169, 228);
    --background-color: white;
    --text-color: rgb(38, 51, 86);
    --site-font: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--site-font);
    font-size: 16px;
}

header {
    background: var(--heading-color);
    color: var(--text-color);
    padding: 8px 0 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline-flex;
    flex-flow: row wrap;
}

header nav a {
    color: var(--text-color);
    font-weight: bold;
    border-bottom: 3 px solid var(--text-color);
    line-height: 1.5;
    padding: 8px;
}


h1,
h2 {
    border: 2px solid var(--title-color);
    background: var(--title-color);
    color: var(--text-color);
    padding: 1%;
}

h1 {
    font-size: 28px;
    text-align: right;
}

h2 {
    font-size: 20px;
}


footer {
    background: var(--heading-color);
    color: var(--text-color);
    text-align: center;
    padding:10px;
    font-size: 14px;
}

/* somewhat feel good until this point */





.subtitle-image {
    background-image: url("pexels-dom-j-310452.jpg");
    background-color: paleturquoise;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0 0 0 0; */
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* min-width: 435px; */
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex: 1 0 100%;
    align-items: flex-start;
    margin: 1% auto;
    padding: 20px;
    border: red 5px solid;
}


.section-name {
    /* how do i add the line after this section? how can i make the contents fill the entire space? */
    /* border-right: 2px solid var(--text-color); */
    display: flex;
    /* width:20%; */
    height: 100%;
    justify-content: flex-end;
    padding: 20px;
    align-items:center;
}

.section-content {
    display: flex;
    border-left: 5px solid var(--heading-color);
    flex: 1 0 70%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.work-card {
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.work-card-desc {

}


.section-content nav {
    width: 100%;
}


/* contact links - seem ok */
#contact-links ul{
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
}

#contact-links li{
    display: inline-flex;
    flex-flow: row wrap;
    align-items:
}

#contact-links nav a{
    color: var(--text-color);
    font-weight: bold;
    border-bottom: 3 px solid var(--text-color);
    line-height: 1.5;
    padding: 8px;

}

/* /* media query for larger screens */

